.board{
  background: #34495e;
  height: 100vh;
  width: 100vw;
}
body{
  margin: 0;
  padding: 0;
}

.btn-submit{
  background-color: #ecf0f1;
  border-color: #2c3e50;
  color: #2c3e50;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 18px;
}
.btn-submit:hover{
  font-size: 20px;
}

.btn-start, .btn-new{
  background-color: #ecf0f1;
  border-color: #2c3e50;
  color: #2c3e50;
  cursor: pointer;
  padding: 20px 30px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 24px;
}
.btn-start:hover, .btn-new:hover{
  font-size: 26px;
}
.scene{
  display: none;
}
.scene .container{
  background: #34495e;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}
.start-scene .container{
  flex-direction: column;
  color: white;
}
.play-scene .container{
  flex-direction: column;
  justify-content: space-around;
}

.end-scene .container{
  color: white;
  flex-direction: column;
  justify-content: space-around;
}
.readmore{
  text-align: center;
  line-height: 50px;
}
.s, .readmore{
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  margin: 3px;

  text-shadow: 2px 2px #000;
  cursor: pointer;
}
.readmore{
  font-family: serif;
}
.s1-0{
  background-color: #00BCD4;
}
.s1-1{
  background-color: #03A9F4;
}
.s1-2{
  background-color: #2196F3;
}
.s1-3{
  background-color: #3F51B5;
}
.s1-4{
  background-color: #673AB7;
}
.s1-5{
  background-color: #9C27B0;
}
.s1-6{
  background-color: #E91E63;
}
.s1-7{
  background-color: #F44336;
}

.s2-0{
  background-color: #009688;
}
.s2-1{
  background-color: #4CAF50;
}
.s2-2{
  background-color: #8BC34A;
}
.s2-3{
  background-color: #FFC107;
}
.s2-4{
  background-color: #FF9800;
}
.s2-5{
  background-color: #FF5722;
}
.s2-6{
  background-color: #795548;
}
.s2-7{
  background-color: #9E9E9E;
}

.status{
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;

}

.ques .added{
  opacity: 0.2;
}

.right-scene .container{
  background-color: #2ecc71;
  flex-direction: column;
}
.wrong-scene .container{
  background-color: #e74c3c;
  flex-direction: column;
}

.right-scene h1, .wrong-scene h1{
  color: white;
}

.r1, .r2{
  height: 50px;
}

.ques, .ans, .r1, .r2{
  text-align: center;
  line-height: 50px;
}
